<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Footer</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    <footer>
        <p id="copyright">© Kaixo freskoa 2025</p>
        <ul>
            <li class="listeFooter"><a href="#">Conditions générales</a></li>
            <li class="listeFooter"><a href="#">Confidentialité</a></li>
            <li class="listeFooter"><a href="#">Mention légales</a></li>
        </ul>
    </footer>
</body>

</html>